alloy:
  configMap:
    content: |

      logging {
          level  = "info"
          format = "logfmt"
      }
    
      discovery.kubernetes "k8s_pods" {
          role = "pod"
      }

      discovery.relabel "k8s_logs" {
          targets = discovery.kubernetes.k8s_pods.targets
          
          rule {
              source_labels = ["__meta_kubernetes_namespace"]
              action        = "replace"
              target_label  = "namespace"
          }
          rule {
              source_labels = ["__meta_kubernetes_pod_name"]
              action        = "replace"
              target_label  = "pod"
          }
          rule {
              source_labels = ["__meta_kubernetes_pod_container_name"]
              action        = "replace"
              target_label  = "container"
          }
          rule {
              source_labels = ["__meta_kubernetes_pod_label_app"]
              action        = "replace"
              target_label  = "app"
          }
          rule {
              source_labels = ["__meta_kubernetes_pod_label_release"]
              action        = "replace"
              target_label  = "release"
          }
      }

      loki.source.kubernetes "pod_logs" {
          targets    = discovery.relabel.k8s_logs.output
          forward_to = [loki.write.default.receiver]
      }

      loki.write "default" {
          endpoint {
            url = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"
          }
      }