
deploymentMode: SingleBinary

gateway:
  enabled: true
  service:
    type: LoadBalancer

service:
  type: ClusterIP

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
    storageClass: gp2

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

chunksCache:
  enabled: false

resultsCache:
  enabled: false  

readinessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  failureThreshold: 30
  timeoutSeconds: 5

livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  failureThreshold: 30